* {
    margin:0;
    padding:0;
      }
      html{
        font-family: 'Bangers', cursive;
      }
      .pasek1{
        position: fixed;
        margin-top: 0px;
        background-color: rgb(31, 29, 29);
        height: 1vw;
        width: 100%;
        }
        .pasek2{
            margin-top: 0px;
            background-color: rgb(29, 29, 29);           
            height:100vw;
            width: 10,5vw;
            border-right:0.2vw solid black; 
        }
      ul li a {
        display: block;
        float: top;
        text-decoration: none;
        background-color: rgb(3, 191, 248);
        color: white;
        border-right:0.2vw solid black; 
        padding:1.1vw 2.2vw;
        width: 6vw;     
    }
    nav{
        margin-top: 1vw;
        position: fixed;
    }
    i{
        margin-right:0.2vw;
    }
ul li a:hover{
    background-color: rgb(58, 57, 57);
    color: rgb(255, 0, 0);
    border-right:0.2vw solid red; 
    width: 12,5vw;
    transition: 1s;

}
.pokaz{
    color:red;
    font-size:1.3vw;
    background-color:white;
    border-right: none;
    padding: 0px;
}
.pokaz:hover{
    background-color:white;
    border-right: none;
}

a{
    font-size:0.9vw;
}
ul{
    list-style: none;
}
 div ul li {
    margin-bottom:0.5vw;
    margin-left: 11vw;
    font-size: 1vw
}
b{
    color: red;
    display: inline;
}
a.pokaz span{
  display: none;

}
a.pokaz:hover span{
    display: inline;
    position: absolute;
    margin-left:5vw;
    background-color: black;
}
a.link{
    display: inline;
    text-align:center;
    background: none;
    color: rgb(3, 191, 248);
    border-right: none;
    padding: 0px;
}
a.link:hover{
    background-color:white;
    border-right: none;
}
iframe{
    margin-top: 0.3vw;
    margin-left: 20vw;
    border: 2px solid black;
    width:40vw; 
    height:24vw;"
}
.naj{
    color:rgb(3, 191, 248);
    font-size:1.5vw;
}
div ul li div{
    margin-bottom:1vw;
}
b.ten{
    margin-top: 2vw;
    font-size: 2vw;
}
h1{
    font-size: 29vw;
}
